@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: linear-gradient(to bottom, rgb(161, 211, 228), rgb(59, 154, 192));
  height: 100vh;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25rem;
  width: 25rem;
  background: rgb(188, 211, 219);
  padding: 1.2rem 1.4rem;
  border-radius: 1rem;
  border: 0;
  outline: 0;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
}

.mobile-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(85, 80, 80);
  font-weight: 800;
}
.left-bar {
  font-size: 105%;
}
.right-bar i {
  margin-right: 0.2rem;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2rem 0 1.2rem 0;
  color: rgb(48, 46, 46);
}
.heading h3 {
  font-size: 135%;
  font-weight: 800;
  padding-right: 0.5rem;
}

.degrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 0.7rem;
}

.celcius,
.fahrenheit,
.kelvin {
  display: flex;
}

input {
  width: 20rem;
  height: 3.3rem;
  border: none;
  outline: none;
  background: white;
  border-radius: 0.4rem 0 0 0.4rem;
  text-align: center;
  font-size: 100%;
  font-weight: 800;
}
input::placeholder {
  font-weight: 600;
  font-size: 90%;
  color: rgb(95, 85, 85);
}

.input-icon {
  width: 3.5rem;
  height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 125%;
  color: white;
  background: rgb(88, 123, 143);
  border-radius: 0 0.4rem 0.4rem 0;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

button {
  height: 3.2rem;
  width: 11rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(8, 105, 231);
  color: white;
  border-radius: 0.5rem;
  font-size: 102%;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background: rgb(0, 83, 192);
}

@media screen and (max-width: 425px) {
  .container {
    height: 25rem;
    width: 22rem;
  }
}

@media screen and (max-width: 380px) {
  .container {
    height: 25rem;
    width: 20rem;
  }
}

@media screen and (max-width: 345px) {
  .container {
    height: 27rem;
    width: 18rem;
  }
}
